/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/
/* Whole Page - commit test */

* {
    font-family: 'Quicksand', sans-serif;
}

h2 {
    text-align: center;
    font-size: 36px;
}

nav ul li {
    list-style-type: none;
    display: inline;
}


 aside#social {
    background: rgba(226,240,95,0.6);
    width: 200px;
    height: auto;
    position: fixed;
    top: 50px;
    right: 20px;
    cursor: pointer;
 }
 
 ul.social-links {
     display: none;
 }
 
 aside#social:hover ul.social-links {
     display: block;
 }
 
 html {
    margin: 0;
    padding: 0;
 }
 
 header {
    height: 300px;
    background: url(../img/monkaa_monkeyhang.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 20px 20px 20px;
 }
 

 .subtitle {
     text-align: left;
 }
 
footer {
    background: url(../media/video/loop_poster.png);
}

section {
    padding-top: 50px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Video Section */

section#watch {
    background: #041C24;
    color: white
}

video {
    display: block;
    margin: 0 auto;
}

h3  {
    text-align: center;
}

p {
    text-align: center;
}

/* About Section */

section#about {
    background: black;
    color: white;
}

.lead {
    text-align: center;
}

.image-weybec {
    width: 33.3%;
    float: left;
    margin-bottom: 10px;
}

.headshot {
    width: 300px;
    border: white 5px solid;
}


/* Audio Section */

section#listen {
    background: #3B474F;
    color: white;
}

audio {
    display: block;
    margin: 0 auto;
}